@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using EstudiantesCore.Entidades;
<div class="col-10">
    @(Html.DevExtreme().TagBox()
    .ID("listTramites")

    .DisplayExpr("NombreTramite")
    .SearchEnabled(true)
    .ShowSelectionControls(false)
    .NoDataText("No existen tramites para realizar")
    .Placeholder("Seleccione los tramites que desea realizar")
    .StylingMode(EditorStylingMode.Filled)
    .SearchExpr(new string[] { "NombreTramite" })
    .ItemTemplate("<div><%= NombreTramite %></div>")
    @*.OnSelectionChanged(@<text>
        function(data) {
        desabilitartramites(data);
        LoadPropietarios(data);
        }*@
    @*</text>)*@
    )
</div>

<div class="container-fluid pestañasContainer" id="listapretamitesliquidacion">
    @using EstudiantesCore.ViewModels;
    <h1>Trámites por liquidar</h1>
    @*@Html.HiddenFor(m => Model.PreTramitePrecargadoId)*@
    @(Html.DevExtreme().DataGrid<Pretramite>()
            .ID("TableMateria")
            .ShowRowLines(true)
            //.OnEditorPreparing("EditorPreparado")
            //.OnEditingStart("SetEditmode")
            .Export(s => s.Enabled(true))
            .Editing(s=>s.AllowUpdating(true).UseIcons(true).Mode(GridEditMode.Form))
            .RowAlternationEnabled(true)
            .ShowBorders(true)
            .ShowColumnLines(true)
            .FilterRow(s => s.Visible(true))
            .ShowRowLines(true)
            .AllowColumnReordering(true)
            .AllowColumnResizing(true)
            .ColumnAutoWidth(true)
            .Paging(s => s.Enabled(true).PageSize(5))
            .SearchPanel(d => d.Visible(true))
            .DataSource(s => s.RemoteController().LoadUrl("/Turno?handler=Pretramites").Key("Id"))
        //.Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(true).SelectAllMode(SelectAllMode.AllPages))
        .OnRowClick(@<text>
            function (e)
            {
            Obtener_Grid_Pretramites_Liquidacion(e);
            }
        </text>)
            .Columns(s =>
            {

                s.AddFor(q => q.Fecha).Caption("Fecha")/*.ValidationRules(k=>k.AddRequired().Message("Codido es requerido")).ValidationRules(y=>y.AddAsync().ValidationCallback("CodigoUnico").Message("Ya existe una matería con ese codigo registrado")).FormItem(h=>h.Editor(e=>e.TextBox().MaxLength(4)))*/;
                s.AddFor(q => q.Documento).Caption("Documento");
                s.AddFor(q => q.NombreTramite).Caption("Tramite")/*.Lookup(g => g.DataSource(f => f.RemoteController().LoadUrl("/Materias?handler=ObtenerEstadoMaterias").Key("Id")).DisplayExpr("Nombre").ValueExpr("Id"))*/;
                s.AddFor(q => q.TipoDocumento).Caption("Tipo de documento").Lookup(q => q.DataSource(f => f.RemoteController().LoadUrl("/Estudiantes?handler=TipoDocumento").Key("Id")).ValueExpr("Id").DisplayExpr("Nombre"));
                
                //s.AddFor(g => g.MatriculaPorDefecto).Caption("Defecto");
            })

            )
</div>

