
@using EstudiantesCore.Dtos
@using EstudiantesCore.Entidades
@using DevExtreme.AspNet.Mvc

<div class="detalle">

    @(Html.DevExtreme().DataGrid<Notas>()
            .ID("TableNotas")
            .ShowRowLines(true)
            .Export(s => s.Enabled(true))
            .RowAlternationEnabled(true)
            .ShowBorders(true)
            .ShowColumnLines(true)
            .FilterRow(s => s.Visible(true))
            .ShowRowLines(true)
            .NoDataText("El estudiante no tiene materías matriculadas")
            .AllowColumnReordering(true)
            .AllowColumnResizing(true)
            .ColumnAutoWidth(true)
            .Paging(s => s.Enabled(true).PageSize(5))
            .SearchPanel(d => d.Visible(true))
            .DataSource(s => s.RemoteController().LoadUrl("/Estudiantes?handler=ObtenerNotasById").OnBeforeSend("MandarDataEstudiante"))
            .Columns(s =>
            {
                //s.AddFor(q => q.Estudiante.Nombre).Caption("Nombre");
                s.AddFor(q => q.Materia.Nombre).Caption("Materia")/*.Lookup(g => g.DataSource(f => f.RemoteController().LoadUrl("/Materias?handler=ObtenerEstadoMaterias").Key("Id")).DisplayExpr("Nombre").ValueExpr("Id"))*/;
                s.AddFor(q => q.Nota1).Caption("Nota #1");
                s.AddFor(q => q.Nota2).Caption("Nota #2");
                s.AddFor(q => q.Nota3).Caption("Nota #3");
                s.AddFor(q => q.Promedio).Caption("Promedio");
            })

    )




</div>